<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--верхняя черная панель-->
<header>
    <nav class="navbar navbar-expand-gl navbar-dark bg-dark">
        <a class="navbar-brand text-white" id="info">
        </a>
        <div class="nav ml-auto">
            <a th:href="@{/logout}" class="text-white-50 text-right">Logout</a>
        </div>
    </nav>
</header>
<!--боковая панель-->
<!--общий контейнер для всего-->
<div class="container-fluid min-vh-100">
    <div class="row vh-100">
        <!--контейнер для боковой панели-->
        <div class="col-md-2 g-0 py-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminTable" role="tab" aria-controls="admin" aria-selected="true">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userTable" role="tab" aria-controls="user" aria-selected="false">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 bg-light gx-5 py-3 tab-content">
            <div class="tab-pane fade" id="userTable" role="tabpanel"
                 aria-labelledby="user-nav-link" tabindex="0">
                <h2>User information page</h2>
                <div class="tab-content" role="tabpanel" aria-labelledby="admin-nav-link">
                    <div class="tab-pane fade show active" role="tabpanel" tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">About user</h5>
                    <table class="table table-striped" id="tableUser" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
                </div>
                <div class="tab-pane fade show active" id="adminTable" role="tabpanel"
                     aria-labelledby="admin-nav-link"
                     tabindex="0">
            <h2 className="h1 a1" id="h1a1"></h2>
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home" data-toggle="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#add" data-toggle="tab">New User</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h5 class="card-header">All users</h5>
                    <div>
                        <table class="table table-striped" id="tableAllUsers">
                            <thead>
                            <tr>
                                <th align="center">Id</th>
                                <th align="center">FirstName</th>
                                <th align="center">LastName</th>
                                <th align="center">Age</th>
                                <th align="center">Email</th>
                                <th align="center">Roles</th>
                                <th align="center">Update</th>
                                <th align="center">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
                    <h5 class="card-header">Add new user</h5>
                    <div class="col-sm" align="center">
                        <div class="row">

                            <div class="col-sm">
                            </div>

                            <div class="col-sm">

                    <form id="addForm">

                        <div class="form-group">
                            <label for="firstNameCreate" class="col-form-label">firstName</label>
                            <input type="text" class="form-control firstName" id="firstNameCreate">
                        </div>

                        <div class="form-group">
                            <label for="lastNameCreate" class="com-form-label">lastName</label>
                            <input type="text" class="form-control" id="lastNameCreate">
                        </div>

                        <div class="form-group">
                            <label for="ageCreate" class="com-form-label">Age</label>
                            <input type="number" class="form-control" id="ageCreate">
                        </div>

                        <div class="form-group">
                            <label for="emailCreate" class="com-form-label">Email</label>
                            <input type="text" class="form-control" id="emailCreate">
                        </div>

                        <div class="form-group">
                            <label for="passwordCreate" class="com-form-label">Password</label>
                            <input type="password" class="form-control" id="passwordCreate">
                        </div>

                        <div class="form-group">
                            <label for="rolesCreate" class="com-form-label">Role:</label>
                            <select multiple id="rolesCreate" class="form-control select" size="2">
                                <option value="ROLE_USER">USER</option>
                                <option value="ROLE_ADMIN">ADMIN</option>
                            </select>
                        </div>

                    </form>
                                <button type="submit" class="btn btn-success btn-lg" id="addUser" >Add new user</button>
                            </div>
                            <div class="col-sm">
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                </div>

                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{js/main.js}"  src="../static/js/main.js"></script>
<script type="text/javascript" th:src="@{js/createUser.js}"  src="../static/js/createUser.js"></script>
<script type="text/javascript" th:src="@{js/deleteUser.js}"  src="../static/js/deleteUser.js"></script>
<script type="text/javascript" th:src="@{js/getOperations.js}"  src="../static/js/getOperations.js"></script>
<script type="text/javascript" th:src="@{js/editUser.js}"  src="../static/js/editUser.js"></script>

</body>
</html>